
{% extends 'base.html' %}
{% block title %}
◧Classroom Students Page
{% endblock %}

{% block content %}
{% if user.is_authenticated and data %}

    {%  include 'links.html' %}


    <p><a href="{% url 'classrooms-all' %}">Back to Classrooms</a></p>
    <hr>
    <a href="{% url 'edit-classrooms-by-id' data.classroom.id %}">🖊️ Edit this classroom</a>
    <a href="{% url 'delete-classrooms-by-id' data.classroom.id %}">🗑️ Delete this classroom</a>
    <hr>
    <a href="{% url 'email-classrooms-by-id' data.classroom.id %}"> 📧 Email this classroom</a>
    
    {% if data.message %}
        <p style="color: #6ef231">{{data.message}}</p>
    {% endif %}


    <h1>Classroom◧ - {{data.classroom.name}}</h1>

    <h2>List of students:</h2>
    {% if data.students %}
        <ul>{% for s in data.students %}
            <li><a href="{% url 'students-by-id' s.id %}">😃 {{ s.name }} - {{ s.email }} </a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p><b>No students in this classroom yet...</b></p>
    {% endif %}

{% else %}
    <p><b>Please log in or sign up first:</b></p>
    <a href="{% url 'log-in' %}">Log In</a> |
    <a href="{% url 'sign-up' %}">Sign Up</a>
{% endif %}
{% endblock %}
