
{% extends 'base.html' %}
{% block title %}
Email Classroom 
{% endblock %}

{% block content %}
<h1>Email Classroom◧</h1>
{% if user.is_authenticated and data %}

    {%  include 'links.html' %}

    <p><a href="{% url 'classrooms-by-id' data.classroom.id %}">Back to classroom</a></p>

    <form method="post">
        {% csrf_token %}
        <p><b>Email to classroom:</b> {{data.classroom}}</p>
        {{ data.form.as_p }}
        <button type="submit">Send Email</button>
    </form>


{% else %}
    <p><b>Please log in or sign up first:</b></p>
    <a href="{% url 'log-in' %}">Log In</a> |
    <a href="{% url 'sign-up' %}">Sign Up</a>
{% endif %}
{% endblock %}
