
{% extends 'base.html' %}
{% block title %}
Search Page
{% endblock %}

{% block content %}
<h1>Search</h1>
{% if user.is_authenticated %}

    {%  include 'links.html' %}

    <form method="post">
        {% csrf_token %}
        <input type="text" value='{{ data.q }}' name="query" placeholder="John Doe">
        <button type="submit">Search...</button>
    </form>

    {% if data.message %}
        <p style="color: #636363">{{data.message}}</p>
    {% elif data.students %}
        <p style="color: #636363">We got a match! ⬇️</p>
        <ul>{% for s in data.students %}
            <li><a href="{% url 'students-by-id' s.id %}">{{ s.name }} - {{ s.email }} </a></li>
        {% endfor %}
        </ul>
    {% endif %}


{% else %}
  <a href="{% url 'log-in' %}">Log In</a> |
  <a href="{% url 'sign-up' %}">Sign Up</a>
{% endif %}
{% endblock %}
