
{% extends 'base.html' %}
{% block title %}
Classroom Students Page
{% endblock %}

{% block content %}
<h1>Student Info</h1>
{% if user.is_authenticated and data %}

    <p><a href="{% url 'home' %}">Home</a></p>
    <p><a href="{% url 'log-out' %}">Log Out</a></p>
    <p><a href="{% url 'create-students' %}">Create Student</a></p>
    <p><a href="{% url 'create-classrooms' %}">Create Classroom</a></p>
    <hr>

    <p><a href="{% url 'classrooms-by-id' data.student.classroom.id %}">Back to Classroom</a></p>
    <hr>
    <a href="{% url 'edit-students-by-id' data.student.id %}">🖊️ Edit this student</a>
    <a href="{% url 'delete-students-by-id' data.student.id %}">🗑️ Delete this student</a>

    <h2>Student Info:</h2>
    <p><b>Name: {{data.student.name}}</b></p>
    <p><b>Email: {{data.student.email}}</b></p>
    <p><b>Classroom: {{data.student.classroom.name}}</b></p>
    <p><b>Birth Date: {{data.student.birth_date}}</b></p>
    <p><b>Gender: {{data.student.gender}}</b></p>
    <p><b>Address: {{data.student.address}}</b></p>

{% else %}
    <p><b>Please log in or sign up first:</b></p>
    <a href="{% url 'log-in' %}">Log In</a> |
    <a href="{% url 'sign-up' %}">Sign Up</a>
{% endif %}
{% endblock %}
