
{% extends 'base.html' %}
{% block title %}
Teacher's Students Page
{% endblock %}

{% block content %}
<h1>Students List</h1>
{% if user.is_authenticated %}

  {%  include 'links.html' %}

  {% if data %}
    <ul>
      {% for student in data.students %}
          <li><a href="{% url 'students-by-id' student.id %}">{{ student.classroom.name }} - {{ student.name }} - {{ student.email }} </a></li>
          {% endfor %}
    </ul>
  {% else %}

    <p><b>No classrooms yet...</b></p>
  {% endif %}

{% else %}
    <p><b>Please log in or sign up first:</b></p>
  <a href="{% url 'log-in' %}">Log In</a> |
  <a href="{% url 'sign-up' %}">Sign Up</a>
{% endif %}
{% endblock %}
